*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.main_container,ul{
    display: flex;
    justify-content: center;
    border:2px solid red;
    justify-content: space-around;

}
.sub_ctn1{
    border: 2px solid black;
}

.sub_ctn2{
    border: 2px solid black;
}
.listsnav{
    text-decoration: none;
    list-style: none;
    


}
.listsnav li{
    padding: 7px;
}

